{
    "openapi": "3.0.1",
    "info": {
        "title": "Azure OpenAI",
        "description": "Azure OpenAI APIs for completions and search",
        "version": "2024-04-01-preview"
    },
    "servers": [{
        "url": "https://grfapimaoai.azure-api.net/openai"
    }],
    "paths": {
        "/deployments/{deployment-id}/completions": {
            "post": {
                "summary": "Creates a completion for the provided prompt, parameters and chosen model.",
                "description": "Creates a completion for the provided prompt, parameters and chosen model.",
                "operationId": "Completions_Create",
                "parameters": [{
                    "name": "deployment-id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "description": "Deployment id of the model which was deployed.",
                        "example": "davinci"
                    }
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "prompt": {
                                        "oneOf": [{
                                            "type": "string",
                                            "default": "",
                                            "nullable": true,
                                            "example": "This is a test."
                                        }, {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "default": "",
                                                "example": "This is a test."
                                            },
                                            "description": "Array size minimum of 1 and maximum of 2048"
                                        }],
                                        "description": "The prompt(s) to generate completions for, encoded as a string or array of strings.\nNote that <|endoftext|> is the document separator that the model sees during training, so if a prompt is not specified the model will generate as if from the beginning of a new document. Maximum allowed size of string list is 2048."
                                    },
                                    "max_tokens": {
                                        "type": "integer",
                                        "description": "The token count of your prompt plus max_tokens cannot exceed the model's context length. Most models have a context length of 2048 tokens (except for the newest models, which support 4096). Has minimum of 0.",
                                        "default": 16,
                                        "nullable": true,
                                        "example": 16
                                    },
                                    "temperature": {
                                        "type": "number",
                                        "description": "What sampling temperature to use. Higher values means the model will take more risks. Try 0.9 for more creative applications, and 0 (argmax sampling) for ones with a well-defined answer.\nWe generally recommend altering this or top_p but not both.",
                                        "default": 1,
                                        "nullable": true,
                                        "example": 1
                                    },
                                    "top_p": {
                                        "type": "number",
                                        "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.\nWe generally recommend altering this or temperature but not both.",
                                        "default": 1,
                                        "nullable": true,
                                        "example": 1
                                    },
                                    "logit_bias": {
                                        "type": "object",
                                        "description": "Defaults to null. Modify the likelihood of specified tokens appearing in the completion. Accepts a json object that maps tokens (specified by their token ID in the GPT tokenizer) to an associated bias value from -100 to 100. You can use this tokenizer tool (which works for both GPT-2 and GPT-3) to convert text to token IDs. Mathematically, the bias is added to the logits generated by the model prior to sampling. The exact effect will vary per model, but values between -1 and 1 should decrease or increase likelihood of selection; values like -100 or 100 should result in a ban or exclusive selection of the relevant token. As an example, you can pass {\"50256\" &#58; -100} to prevent the <|endoftext|> token from being generated."
                                    },
                                    "user": {
                                        "type": "string",
                                        "description": "A unique identifier representing your end-user, which can help monitoring and detecting abuse"
                                    },
                                    "n": {
                                        "type": "integer",
                                        "description": "How many completions to generate for each prompt. Minimum of 1 and maximum of 128 allowed.\nNote: Because this parameter generates many completions, it can quickly consume your token quota. Use carefully and ensure that you have reasonable settings for max_tokens and stop.",
                                        "default": 1,
                                        "nullable": true,
                                        "example": 1
                                    },
                                    "stream": {
                                        "type": "boolean",
                                        "description": "Whether to stream back partial progress. If set, tokens will be sent as data-only server-sent events as they become available, with the stream terminated by a data: [DONE] message.",
                                        "default": false,
                                        "nullable": true
                                    },
                                    "logprobs": {
                                        "type": "integer",
                                        "description": "Include the log probabilities on the logprobs most likely tokens, as well the chosen tokens. For example, if logprobs is 5, the API will return a list of the 5 most likely tokens. The API will always return the logprob of the sampled token, so there may be up to logprobs+1 elements in the response.\nMinimum of 0 and maximum of 5 allowed.",
                                        "default": null,
                                        "nullable": true
                                    },
                                    "suffix": {
                                        "type": "string",
                                        "description": "The suffix that comes after a completion of inserted text.",
                                        "nullable": true
                                    },
                                    "echo": {
                                        "type": "boolean",
                                        "description": "Echo back the prompt in addition to the completion",
                                        "default": false,
                                        "nullable": true
                                    },
                                    "stop": {
                                        "oneOf": [{
                                            "type": "string",
                                            "default": "<|endoftext|>",
                                            "nullable": true,
                                            "example": "\n"
                                        }, {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "example": "\n"
                                            },
                                            "description": "Array minimum size of 1 and maximum of 4"
                                        }],
                                        "description": "Up to 4 sequences where the API will stop generating further tokens. The returned text will not contain the stop sequence."
                                    },
                                    "completion_config": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "presence_penalty": {
                                        "type": "number",
                                        "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics.",
                                        "default": 0
                                    },
                                    "frequency_penalty": {
                                        "type": "number",
                                        "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim.",
                                        "default": 0
                                    },
                                    "best_of": {
                                        "type": "integer",
                                        "description": "Generates best_of completions server-side and returns the \"best\" (the one with the highest log probability per token). Results cannot be streamed.\nWhen used with n, best_of controls the number of candidate completions and n specifies how many to return - best_of must be greater than n.\nNote: Because this parameter generates many completions, it can quickly consume your token quota. Use carefully and ensure that you have reasonable settings for max_tokens and stop. Has maximum value of 128."
                                    }
                                }
                            },
                            "example": {
                                "prompt": "Negate the following sentence.The price for bubblegum increased on thursday.\n\n Negated Sentence:",
                                "max_tokens": 50
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "apim-request-id": {
                                "description": "Request ID for troubleshooting purposes",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["id", "object", "created", "model", "choices"],
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "object": {
                                            "type": "string"
                                        },
                                        "created": {
                                            "type": "integer"
                                        },
                                        "model": {
                                            "type": "string"
                                        },
                                        "prompt_filter_results": {
                                            "$ref": "#/components/schemas/promptFilterResults"
                                        },
                                        "choices": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "text": {
                                                        "type": "string"
                                                    },
                                                    "index": {
                                                        "type": "integer"
                                                    },
                                                    "logprobs": {
                                                        "type": "object",
                                                        "properties": {
                                                            "tokens": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "token_logprobs": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "top_logprobs": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "additionalProperties": {
                                                                        "type": "number"
                                                                    }
                                                                }
                                                            },
                                                            "text_offset": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "integer"
                                                                }
                                                            }
                                                        },
                                                        "nullable": true
                                                    },
                                                    "finish_reason": {
                                                        "type": "string"
                                                    },
                                                    "content_filter_results": {
                                                        "$ref": "#/components/schemas/contentFilterChoiceResults"
                                                    }
                                                }
                                            }
                                        },
                                        "usage": {
                                            "required": ["prompt_tokens", "total_tokens", "completion_tokens"],
                                            "type": "object",
                                            "properties": {
                                                "completion_tokens": {
                                                    "type": "number",
                                                    "format": "int32"
                                                },
                                                "prompt_tokens": {
                                                    "type": "number",
                                                    "format": "int32"
                                                },
                                                "total_tokens": {
                                                    "type": "number",
                                                    "format": "int32"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "model": "davinci",
                                    "object": "text_completion",
                                    "id": "cmpl-4509KAos68kxOqpE2uYGw81j6m7uo",
                                    "created": 1637097562,
                                    "choices": [{
                                        "index": 0,
                                        "text": "The price for bubblegum decreased on thursday.",
                                        "logprobs": null,
                                        "finish_reason": "stop"
                                    }]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Service unavailable",
                        "headers": {
                            "apim-request-id": {
                                "description": "Request ID for troubleshooting purposes",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                },
                                "example": {
                                    "error": {
                                        "param": "string",
                                        "type": "string",
                                        "inner_error": {
                                            "code": "ResponsibleAIPolicyViolation",
                                            "content_filter_results": {
                                                "sexual": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "violence": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "hate": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "self_harm": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "profanity": {
                                                    "filtered": true,
                                                    "detected": true
                                                },
                                                "custom_blocklists": {
                                                    "filtered": true,
                                                    "details": [{
                                                        "filtered": true,
                                                        "id": "string"
                                                    }]
                                                },
                                                "error": {
                                                    "code": "string",
                                                    "message": "string"
                                                },
                                                "jailbreak": {
                                                    "filtered": true,
                                                    "detected": true
                                                },
                                                "indirect_attack": {
                                                    "filtered": true,
                                                    "detected": true
                                                }
                                            }
                                        },
                                        "code": "string",
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable",
                        "headers": {
                            "apim-request-id": {
                                "description": "Request ID for troubleshooting purposes",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                },
                                "example": {
                                    "error": {
                                        "param": "string",
                                        "type": "string",
                                        "inner_error": {
                                            "code": "ResponsibleAIPolicyViolation",
                                            "content_filter_results": {
                                                "sexual": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "violence": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "hate": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "self_harm": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "profanity": {
                                                    "filtered": true,
                                                    "detected": true
                                                },
                                                "custom_blocklists": {
                                                    "filtered": true,
                                                    "details": [{
                                                        "filtered": true,
                                                        "id": "string"
                                                    }]
                                                },
                                                "error": {
                                                    "code": "string",
                                                    "message": "string"
                                                },
                                                "jailbreak": {
                                                    "filtered": true,
                                                    "detected": true
                                                },
                                                "indirect_attack": {
                                                    "filtered": true,
                                                    "detected": true
                                                }
                                            }
                                        },
                                        "code": "string",
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deployments/{deployment-id}/embeddings": {
            "post": {
                "summary": "Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms.",
                "description": "Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms.",
                "operationId": "embeddings_create",
                "parameters": [{
                    "name": "deployment-id",
                    "in": "path",
                    "description": "The deployment id of the model which was deployed.",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "example": "ada-search-index-v1"
                    }
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": ["input"],
                                "type": "object",
                                "properties": {
                                    "input": {
                                        "oneOf": [{
                                            "type": "string",
                                            "default": "",
                                            "nullable": true,
                                            "example": "This is a test."
                                        }, {
                                            "maxItems": 2048,
                                            "minItems": 1,
                                            "type": "array",
                                            "items": {
                                                "minLength": 1,
                                                "type": "string",
                                                "example": "This is a test."
                                            }
                                        }],
                                        "description": "Input text to get embeddings for, encoded as a string. To get embeddings for multiple inputs in a single request, pass an array of strings. Each input must not exceed 2048 tokens in length.\nUnless you are embedding code, we suggest replacing newlines (\\n) in your input with a single space, as we have observed inferior results when newlines are present."
                                    },
                                    "user": {
                                        "type": "string",
                                        "description": "A unique identifier representing your end-user, which can help monitoring and detecting abuse."
                                    },
                                    "input_type": {
                                        "type": "string",
                                        "description": "input type of embedding search to use",
                                        "example": "query"
                                    },
                                    "encoding_format": {
                                        "type": "string",
                                        "description": "The format to return the embeddings in. Can be either `float` or `base64`. Defaults to `float`.",
                                        "nullable": true,
                                        "example": "float"
                                    },
                                    "dimensions": {
                                        "type": "integer",
                                        "description": "The number of dimensions the resulting output embeddings should have. Only supported in `text-embedding-3` and later models.",
                                        "nullable": true,
                                        "example": 1
                                    }
                                }
                            },
                            "example": {
                                "input": {},
                                "user": "string",
                                "input_type": "query",
                                "encoding_format": "float",
                                "dimensions": 1
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["object", "model", "data", "usage"],
                                    "type": "object",
                                    "properties": {
                                        "object": {
                                            "type": "string"
                                        },
                                        "model": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "required": ["index", "object", "embedding"],
                                                "type": "object",
                                                "properties": {
                                                    "index": {
                                                        "type": "integer"
                                                    },
                                                    "object": {
                                                        "type": "string"
                                                    },
                                                    "embedding": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "number"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "usage": {
                                            "required": ["prompt_tokens", "total_tokens"],
                                            "type": "object",
                                            "properties": {
                                                "prompt_tokens": {
                                                    "type": "integer"
                                                },
                                                "total_tokens": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "object": "string",
                                    "model": "string",
                                    "data": [{
                                        "index": 0,
                                        "object": "string",
                                        "embedding": [0]
                                    }],
                                    "usage": {
                                        "prompt_tokens": 0,
                                        "total_tokens": 0
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deployments/{deployment-id}/chat/completions": {
            "post": {
                "summary": "Creates a completion for the chat message",
                "description": "Creates a completion for the chat message",
                "operationId": "ChatCompletions_Create",
                "parameters": [{
                    "name": "deployment-id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "description": "Deployment id of the model which was deployed."
                    }
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/createChatCompletionRequest"
                            },
                            "example": {
                                "temperature": 1,
                                "top_p": 1,
                                "stream": false,
                                "stop": null,
                                "max_tokens": 4096,
                                "presence_penalty": 0,
                                "frequency_penalty": 0,
                                "logit_bias": {},
                                "user": "user-1234",
                                "messages": [{
                                    "role": "system"
                                }],
                                "data_sources": [{
                                    "type": "azure_search"
                                }],
                                "n": 1,
                                "seed": 0,
                                "logprobs": false,
                                "top_logprobs": 0,
                                "response_format": {
                                    "type": "text"
                                },
                                "tools": [{
                                    "type": "function",
                                    "function": {
                                        "description": "string",
                                        "name": "string",
                                        "parameters": {}
                                    }
                                }],
                                "tool_choice": {},
                                "functions": [{
                                    "name": "string",
                                    "description": "string",
                                    "parameters": {}
                                }],
                                "function_call": {}
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "apim-request-id": {
                                "description": "Request ID for troubleshooting purposes",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/createChatCompletionResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "object": "chat.completion",
                                    "created": 0,
                                    "model": "string",
                                    "usage": {
                                        "prompt_tokens": 0,
                                        "completion_tokens": 0,
                                        "total_tokens": 0
                                    },
                                    "system_fingerprint": "string",
                                    "prompt_filter_results": [{
                                        "prompt_index": 0,
                                        "content_filter_results": {
                                            "sexual": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "violence": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "hate": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "self_harm": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "profanity": {
                                                "filtered": true,
                                                "detected": true
                                            },
                                            "custom_blocklists": {
                                                "filtered": true,
                                                "details": [{
                                                    "filtered": true,
                                                    "id": "string"
                                                }]
                                            },
                                            "error": {
                                                "code": "string",
                                                "message": "string"
                                            },
                                            "jailbreak": {
                                                "filtered": true,
                                                "detected": true
                                            },
                                            "indirect_attack": {
                                                "filtered": true,
                                                "detected": true
                                            }
                                        }
                                    }],
                                    "choices": [{
                                        "index": 0,
                                        "finish_reason": "string",
                                        "message": {
                                            "role": "assistant",
                                            "content": "string",
                                            "tool_calls": [{
                                                "id": "string",
                                                "type": "function",
                                                "function": {
                                                    "name": "string",
                                                    "arguments": "string"
                                                }
                                            }],
                                            "function_call": {
                                                "name": "string",
                                                "arguments": "string"
                                            },
                                            "context": {
                                                "citations": [{
                                                    "content": "string",
                                                    "title": "string",
                                                    "url": "string",
                                                    "filepath": "string",
                                                    "chunk_id": "string"
                                                }],
                                                "intent": "string"
                                            }
                                        },
                                        "content_filter_results": {
                                            "sexual": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "violence": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "hate": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "self_harm": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "profanity": {
                                                "filtered": true,
                                                "detected": true
                                            },
                                            "custom_blocklists": {
                                                "filtered": true,
                                                "details": [{
                                                    "filtered": true,
                                                    "id": "string"
                                                }]
                                            },
                                            "error": {
                                                "code": "string",
                                                "message": "string"
                                            },
                                            "protected_material_text": {
                                                "filtered": true,
                                                "detected": true
                                            },
                                            "protected_material_code": {
                                                "filtered": true,
                                                "detected": true,
                                                "citation": {
                                                    "URL": "string",
                                                    "license": "string"
                                                }
                                            }
                                        },
                                        "logprobs": {
                                            "content": [{
                                                "token": "string",
                                                "logprob": 0,
                                                "bytes": [0],
                                                "top_logprobs": [{
                                                    "token": "string",
                                                    "logprob": 0,
                                                    "bytes": [0]
                                                }]
                                            }]
                                        }
                                    }]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Service unavailable",
                        "headers": {
                            "apim-request-id": {
                                "description": "Request ID for troubleshooting purposes",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                },
                                "example": {
                                    "error": {
                                        "param": "string",
                                        "type": "string",
                                        "inner_error": {
                                            "code": "ResponsibleAIPolicyViolation",
                                            "content_filter_results": {
                                                "sexual": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "violence": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "hate": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "self_harm": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "profanity": {
                                                    "filtered": true,
                                                    "detected": true
                                                },
                                                "custom_blocklists": {
                                                    "filtered": true,
                                                    "details": [{
                                                        "filtered": true,
                                                        "id": "string"
                                                    }]
                                                },
                                                "error": {
                                                    "code": "string",
                                                    "message": "string"
                                                },
                                                "jailbreak": {
                                                    "filtered": true,
                                                    "detected": true
                                                },
                                                "indirect_attack": {
                                                    "filtered": true,
                                                    "detected": true
                                                }
                                            }
                                        },
                                        "code": "string",
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Service unavailable",
                        "headers": {
                            "apim-request-id": {
                                "description": "Request ID for troubleshooting purposes",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                },
                                "example": {
                                    "error": {
                                        "param": "string",
                                        "type": "string",
                                        "inner_error": {
                                            "code": "ResponsibleAIPolicyViolation",
                                            "content_filter_results": {
                                                "sexual": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "violence": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "hate": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "self_harm": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "profanity": {
                                                    "filtered": true,
                                                    "detected": true
                                                },
                                                "custom_blocklists": {
                                                    "filtered": true,
                                                    "details": [{
                                                        "filtered": true,
                                                        "id": "string"
                                                    }]
                                                },
                                                "error": {
                                                    "code": "string",
                                                    "message": "string"
                                                },
                                                "jailbreak": {
                                                    "filtered": true,
                                                    "detected": true
                                                },
                                                "indirect_attack": {
                                                    "filtered": true,
                                                    "detected": true
                                                }
                                            }
                                        },
                                        "code": "string",
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deployments/{deployment-id}/audio/transcriptions": {
            "post": {
                "summary": "Transcribes audio into the input language.",
                "description": "Transcribes audio into the input language.",
                "operationId": "Transcriptions_Create",
                "parameters": [{
                    "name": "deployment-id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "description": "Deployment id of the whisper model.",
                        "example": "whisper"
                    }
                }],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "prompt": {
                                        "type": "string"
                                    },
                                    "response_format": {
                                        "$ref": "#/components/schemas/audioResponseFormat"
                                    },
                                    "temperature": {
                                        "type": "number",
                                        "default": 0
                                    },
                                    "language": {
                                        "type": "string"
                                    },
                                    "timestamp_granularities[]": {
                                        "type": "array",
                                        "default": "[\n  \"segment\"\n]"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [{
                                        "$ref": "#/components/schemas/audioResponse"
                                    }, {
                                        "$ref": "#/components/schemas/audioVerboseResponse"
                                    }]
                                },
                                "example": {
                                    "text": "string"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "description": "Transcribed text in the output format (when response_format was one of text, vtt or srt)."
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deployments/{deployment-id}/audio/translations": {
            "post": {
                "summary": "Transcribes and translates input audio into English text.",
                "description": "Transcribes and translates input audio into English text.",
                "operationId": "Translations_Create",
                "parameters": [{
                    "name": "deployment-id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "description": "Deployment id of the whisper model which was deployed.",
                        "example": "whisper"
                    }
                }],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "prompt": {
                                        "type": "string"
                                    },
                                    "response_format": {
                                        "$ref": "#/components/schemas/audioResponseFormat"
                                    },
                                    "temperature": {
                                        "type": "number",
                                        "default": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [{
                                        "$ref": "#/components/schemas/audioResponse"
                                    }, {
                                        "$ref": "#/components/schemas/audioVerboseResponse"
                                    }]
                                },
                                "example": {
                                    "text": "string"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "description": "Transcribed text in the output format (when response_format was one of text, vtt or srt)."
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deployments/{deployment-id}/audio/speech": {
            "post": {
                "summary": "Generates audio from the input text.",
                "description": "Generates audio from the input text.",
                "operationId": "Speech_Create",
                "parameters": [{
                    "name": "deployment-id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "description": "Deployment id of the tts model which was deployed.",
                        "example": "tts-1"
                    }
                }],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "input": {
                                        "type": "string"
                                    },
                                    "voice": {
                                        "enum": ["alloy", "echo", "fable", "onyx", "nova", "shimmer"],
                                        "type": "string"
                                    },
                                    "response_format": {
                                        "enum": ["mp3", "opus", "aac", "flac", "wav", "pcm"],
                                        "type": "string"
                                    },
                                    "speed": {
                                        "type": "number",
                                        "default": 1
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                },
                                "examples": {
                                    "default": {
                                        "value": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/deployments/{deployment-id}/images/generations": {
            "post": {
                "summary": "Generates a batch of images from a text caption on a given DALLE model deployment",
                "description": "Generates a batch of images from a text caption on a given DALLE model deployment",
                "operationId": "ImageGenerations_Create",
                "parameters": [{
                    "name": "deployment-id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "description": "Deployment id of the dalle model which was deployed.",
                        "example": "dalle-deployment"
                    }
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/imageGenerationsRequest"
                            },
                            "example": {
                                "prompt": "a corgi in a field",
                                "n": 1,
                                "size": "1024x1024",
                                "response_format": "url",
                                "user": "user123456",
                                "quality": "standard",
                                "style": "vivid"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/generateImagesResponse"
                                },
                                "example": {
                                    "created": "1676540381",
                                    "data": [{
                                        "url": "https://www.contoso.com",
                                        "b64_json": "string",
                                        "content_filter_results": {
                                            "sexual": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "violence": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "hate": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "self_harm": {
                                                "filtered": true,
                                                "severity": "safe"
                                            }
                                        },
                                        "revised_prompt": "string",
                                        "prompt_filter_results": {
                                            "sexual": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "violence": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "hate": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "self_harm": {
                                                "filtered": true,
                                                "severity": "safe"
                                            },
                                            "profanity": {
                                                "filtered": true,
                                                "detected": true
                                            },
                                            "jailbreak": {
                                                "filtered": true,
                                                "detected": true
                                            }
                                        }
                                    }]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "An error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dalleErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "param": "string",
                                        "type": "string",
                                        "inner_error": {
                                            "code": "ResponsibleAIPolicyViolation",
                                            "content_filter_results": {
                                                "sexual": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "violence": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "hate": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "self_harm": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "profanity": {
                                                    "filtered": true,
                                                    "detected": true
                                                },
                                                "jailbreak": {
                                                    "filtered": true,
                                                    "detected": true
                                                }
                                            },
                                            "revised_prompt": "string"
                                        },
                                        "code": "string",
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "An error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dalleErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "param": "string",
                                        "type": "string",
                                        "inner_error": {
                                            "code": "ResponsibleAIPolicyViolation",
                                            "content_filter_results": {
                                                "sexual": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "violence": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "hate": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "self_harm": {
                                                    "filtered": true,
                                                    "severity": "safe"
                                                },
                                                "profanity": {
                                                    "filtered": true,
                                                    "detected": true
                                                },
                                                "jailbreak": {
                                                    "filtered": true,
                                                    "detected": true
                                                }
                                            },
                                            "revised_prompt": "string"
                                        },
                                        "code": "string",
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assistants": {
            "get": {
                "tags": ["Assistants"],
                "summary": "Returns a list of assistants.",
                "description": "Returns a list of assistants.",
                "operationId": "List_Assistants",
                "parameters": [{
                    "name": "limit",
                    "in": "query",
                    "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n",
                    "schema": {
                        "type": "integer",
                        "default": 20
                    }
                }, {
                    "name": "order",
                    "in": "query",
                    "description": "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n",
                    "schema": {
                        "enum": ["asc", "desc"],
                        "type": "string",
                        "default": "desc",
                        "x-ms-enum": {
                            "name": "ListAssistantsOrder",
                            "modelAsString": true,
                            "values": [{
                                "value": "asc",
                                "description": "Order results in ascending order"
                            }, {
                                "value": "desc",
                                "description": "Order results in descending order"
                            }]
                        }
                    }
                }, {
                    "name": "after",
                    "in": "query",
                    "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n",
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "before",
                    "in": "query",
                    "description": "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n",
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/listAssistantsResponse"
                                },
                                "example": {
                                    "object": "list",
                                    "data": [{
                                        "id": "string",
                                        "object": "assistant",
                                        "created_at": 0,
                                        "name": "string",
                                        "description": "string",
                                        "model": "string",
                                        "instructions": "string",
                                        "tools": [{
                                            "type": "code_interpreter"
                                        }],
                                        "file_ids": ["string"],
                                        "metadata": {}
                                    }],
                                    "first_id": "string",
                                    "last_id": "string",
                                    "has_more": false
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Assistants"],
                "summary": "Create an assistant with a model and instructions.",
                "description": "Create an assistant with a model and instructions.",
                "operationId": "Create_Assistant",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/createAssistantRequest"
                            },
                            "example": {
                                "model": {},
                                "name": "string",
                                "description": "string",
                                "instructions": "string",
                                "tools": [{
                                    "type": "code_interpreter"
                                }],
                                "file_ids": ["string"],
                                "metadata": {}
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/assistantObject"
                                },
                                "example": {
                                    "id": "string",
                                    "object": "assistant",
                                    "created_at": 0,
                                    "name": "string",
                                    "description": "string",
                                    "model": "string",
                                    "instructions": "string",
                                    "tools": [{
                                        "type": "code_interpreter"
                                    }],
                                    "file_ids": ["string"],
                                    "metadata": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assistants/{assistant_id}": {
            "get": {
                "tags": ["Assistants"],
                "summary": "Retrieves an assistant.",
                "description": "Retrieves an assistant.",
                "operationId": "Get_Assistant",
                "parameters": [{
                    "name": "assistant_id",
                    "in": "path",
                    "description": "The ID of the assistant to retrieve.",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/assistantObject"
                                },
                                "example": {
                                    "id": "string",
                                    "object": "assistant",
                                    "created_at": 0,
                                    "name": "string",
                                    "description": "string",
                                    "model": "string",
                                    "instructions": "string",
                                    "tools": [{
                                        "type": "code_interpreter"
                                    }],
                                    "file_ids": ["string"],
                                    "metadata": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Assistant"],
                "summary": "Modifies an assistant.",
                "description": "Modifies an assistant.",
                "operationId": "Modify_Assistant",
                "parameters": [{
                    "name": "assistant_id",
                    "in": "path",
                    "description": "The ID of the assistant to modify.",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/modifyAssistantRequest"
                            },
                            "example": {
                                "model": {},
                                "name": "string",
                                "description": "string",
                                "instructions": "string",
                                "tools": [{
                                    "type": "code_interpreter"
                                }],
                                "file_ids": ["string"],
                                "metadata": {}
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/assistantObject"
                                },
                                "example": {
                                    "id": "string",
                                    "object": "assistant",
                                    "created_at": 0,
                                    "name": "string",
                                    "description": "string",
                                    "model": "string",
                                    "instructions": "string",
                                    "tools": [{
                                        "type": "code_interpreter"
                                    }],
                                    "file_ids": ["string"],
                                    "metadata": {}
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Assistants"],
                "summary": "Delete an assistant.",
                "description": "Delete an assistant.",
                "operationId": "Delete_Assistant",
                "parameters": [{
                    "name": "assistant_id",
                    "in": "path",
                    "description": "The ID of the assistant to delete.",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/deleteAssistantResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "deleted": true,
                                    "object": "assistant.deleted"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/threads": {
            "post": {
                "tags": ["Assistants"],
                "summary": "Create a thread.",
                "description": "Create a thread.",
                "operationId": "Create_Thread",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/createThreadRequest"
                            },
                            "example": {
                                "messages": [{
                                    "role": "user",
                                    "content": "string",
                                    "file_ids": ["string"],
                                    "metadata": {}
                                }],
                                "metadata": {}
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/threadObject"
                                },
                                "example": {
                                    "id": "string",
                                    "object": "thread",
                                    "created_at": 0,
                                    "metadata": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/threads/{thread_id}": {
            "get": {
                "tags": ["Assistants"],
                "summary": "Retrieves a thread.",
                "description": "Retrieves a thread.",
                "operationId": "Get_Thread",
                "parameters": [{
                    "name": "thread_id",
                    "in": "path",
                    "description": "The ID of the thread to retrieve.",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/threadObject"
                                },
                                "example": {
                                    "id": "string",
                                    "object": "thread",
                                    "created_at": 0,
                                    "metadata": {}
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Assistants"],
                "summary": "Modifies a thread.",
                "description": "Modifies a thread.",
                "operationId": "Modify_Thread",
                "parameters": [{
                    "name": "thread_id",
                    "in": "path",
                    "description": "The ID of the thread to modify. Only the `metadata` can be modified.",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/modifyThreadRequest"
                            },
                            "example": {
                                "metadata": {}
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/threadObject"
                                },
                                "example": {
                                    "id": "string",
                                    "object": "thread",
                                    "created_at": 0,
                                    "metadata": {}
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Assistants"],
                "summary": "Delete a thread.",
                "description": "Delete a thread.",
                "operationId": "Delete_Thread",
                "parameters": [{
                    "name": "thread_id",
                    "in": "path",
                    "description": "The ID of the thread to delete.",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/deleteThreadResponse"
                                },
                                "example": {
                                    "id": "string",
                                    "deleted": true,
                                    "object": "thread.deleted"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/threads/{thread_id}/messages": {
            "get": {
                "tags": ["Assistants"],
                "summary": "Returns a list of messages for a given thread.",
                "description": "Returns a list of messages for a given thread.",
                "operationId": "List_Messages",
                "parameters": [{
                    "name": "thread_id",
                    "in": "path",
                    "description": "The ID of the [thread](/docs/api-reference/threads) the messages belong to.",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n",
                    "schema": {
                        "type": "integer",
                        "default": 20
                    }
                }, {
                    "name": "order",
                    "in": "query",
                    "description": "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n",
                    "schema": {
                        "enum": ["asc", "desc"],
                        "type": "string",
                        "default": "desc",
                        "x-ms-enum": {
                            "name": "ListMessagesOrder",
                            "modelAsString": true,
                            "values": [{
                                "value": "asc",
                                "description": "Order results in ascending order"
                            }, {
                                "value": "desc",
                                "description": "Order results in descending order"
                            }]
                        }
                    }
                }, {
                    "name": "after",
                    "in": "query",
                    "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n",
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "before",
                    "in": "query",
                    "description": "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n",
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/listMessagesResponse"
                                },
                                "example": {
                                    "object": "list",
                                    "data": [{
                                        "id": "string",
                                        "object": "thread.message",
                                        "created_at": 0,
                                        "thread_id": "string",
                                        "role": "user",
                                        "content": [{
                                            "type": "image_file",
                                            "image_file": {
                                                "file_id": "string"
                                            }
                                        }],
                                        "assistant_id": "string",
                                        "run_id": "string",
                                        "file_ids": ["string"],
                                        "metadata": {}
                                    }],
                                    "first_id": "string",
                                    "last_id": "string",
                                    "has_more": false
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Assistants"],
                "summary": "Create a message.",
                "description": "Create a message.",
                "operationId": "Create_Message",
                "parameters": [{
                    "name": "thread_id",
                    "in": "path",
                    "description": "The ID of the [thread](/docs/api-reference/threads) to create a message for.",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/createMessageRequest"
                            },
                            "example": {
                                "role": "user",
                                "content": "string",
                                "file_ids": ["string"],
                                "metadata": {}
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/messageObject"
                                },
                                "example": {
                                    "id": "string",
                                    "object": "thread.message",
                                    "created_at": 0,
                                    "thread_id": "string",
                                    "role": "user",
                                    "content": [{
[...]
